.App {
  text-align: center;
  justify-content: center;
}

.Container {  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr;
    margin: 10vw
}

.Row {
  flex-direction: row;
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-content: center;
}

.Section {
  margin-right: 2vw;
  margin-left: 2vw;
}

.Image {
  width: auto;
  height: 20vh;

}

.ButtonContainer {
  position: relative;
  flex-direction: row;
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 5vh
}

.Button {
  position: relative;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 7vh;
  border-radius: 5vw;
  min-width: 200;
}

.Button:focus { outline: none;}
