.App {
  text-align: center;
  justify-content: center;
}

.Container {  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr;
    margin: 10vw
}

.Row {
  flex-direction: row;
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-content: center;
  margin-top: 4px;
}

.Section {
  margin-right: 2vw;
  margin-left: 2vw;
  font-size: small;
  border-radius: 10px;
  padding: 5px;
  border-style:solid;
  background: white;
}

.Image {
  width: auto;
  height: 20vh;
  border-style:solid;
  border-radius: 5px;
  max-width: 25vh;
}

.ButtonContainer {
  position: absolute;
  width: 80%;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%
}

.Button {
  position: relative;
  height: 7vh;
  border-radius: 5vw;
  min-width: 100px;
  background-color: #CC0000;
  color: white;
  font-size: large;
}

.Button:focus { outline: none;}


/* messing around with an animation: */

div.door {
    position: absolute;
    z-index:10; 
    top: 23%;
    width:60vh;
    height:68vh;
    background:#CC0000;
    border-width:2;
    border-color:black;
    border-radius:10;
    border-radius:0px 20px 20px 0px;
    border-style:solid;
    -webkit-animation: pokedex 2.9s ease 0s forwards;
}
@keyframes pokedex {
    from {
       -webkit-transform: perspective(300) rotateY(0deg);
       -webkit-transform-origin: 0% 0%;
    }
    to {
       -webkit-transform: perspective(300) rotateY(-180deg);
        -webkit-transform-origin: 0% 0%;
    }
}

div.back {
    width:60vh;
    height:95vh;
    background:#CC0000;
    border-width:2;
    border-color:black;
    border-radius:0px 20px 20px 0px;
    border-style:solid;
}

.blue-thing {
  background:#89CFF0;
  border-color:black;
  border-style:solid;
  width:40px;
  height:40px;
  border-radius:25px;
  position: relative;
  left: 70%;
  top: 5%
}

.PokeContainer {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 100 100 100 100;
  width: 100%;
  z-index: -1;
}

.content {
  margin-top: 8vw;
}